[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

{% if ansible_fqdn == "db01" %}
server_id = 1
log-bin=mysql-bin
{% elif ansible_fqdn == "db02" %}
server_id  = 2
{% endif %}
character-set-server = utf8

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
!includedir /etc/my.cnf.d
