/data/{{ zh_dir }} 172.16.1.0/24(rw,sync,all_squash,anonuid={{ str_666 }},anongid={{ str_666 }})
/data/{{ wp_dir }} 172.16.1.0/24(rw,sync,all_squash,anonuid={{ str_666 }},anongid={{ str_666 }})
/data/{{ jp_dir }} 172.16.1.0/24(rw,sync,all_squash,anonuid={{ str_666 }},anongid={{ str_666 }})