[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

{% if ansible_fqdn == "db01" %}
server_id =1
log_bin=mysql-bin
skip-name-resolve
character_set_server=utf8
{% elif ansible_fqdn == "db02" %}
server_id =2
log_bin=mysql-bin
skip-name-resolve
character_set_server=utf8
{% elif ansible_fqdn == "db03" %}
server_id =3
log_bin=mysql-bin
skip-name-resolve
character_set_server=utf8
{% endif %}

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid
!includedir /etc/my.cnf.d
